@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* General Content PC */

body {
  font-family: "Raleway", sans-serif;
  width: 77%;
  margin: auto;
}

/* Header Content PC */

.header-section {
  display: flex;
  justify-content: space-between;
}

/* Logo Booki PC */

.logo-booki img {
  width: 105px;
  margin-top: 40px;
  margin-left: 10px;
}

/* Nav PC */

.nav-section {
  margin-top: 25px;
  display: flex;
  width: 25%;
}

.ul-part {
  list-style-type: none;
  display: flex;
  text-align: center;
  width: 100%;
}

.lien-nav {
  text-decoration: none;
  color: inherit;
}

.ele-nav {
  width: 50%;
}

/* Title Container PC */

.title-container h3 {
  margin-top: 32px;
  margin-bottom: 8px;
}

.title-container p {
  margin-bottom: 15px;
}

/* Search Container PC */

.search-container {
  display: flex;
  height: 39px;
}

.icon-container {
  border-radius: 9px 0 0 9px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

.fa-map-marker-alt {
  font-size: 14px;
}

.imput-container {
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  display: flex;
}

.search-place {
  border: 0;
  margin-left: 10px;
  font-weight: bold;
}

input:focus {
  outline: none;
}

.search {
  border-radius: 0 9px 9px 0;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
  background-color: #0065fc;
}

/* FILTERS PC */

.filters-general {
  display: flex;
  align-items: center;
  margin: 1.5% 0;
}

.filtres {
  margin-right: 3%;
  font-weight: bold;
}

.filters-container {
  display: flex;
  width: 75%;
}

.filter-icon-container {
  display: flex;
  margin-right: 2%;
}

.icon-text-container {
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  border-radius: 25px;
}

.icon-text-container:hover {
  background-color: black;
  color: white;
}

.filter-icon-link {
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  background-color: #f2f2f2;
  border-radius: 18px;
  color: #0065fc;
}

.filter-text {
  font-weight: bold;
  font-size: 15px;
  display: flex;
  align-items: center;
  height: 35px;
  padding: 0 20px 0 9px;
}

.icon-text-container {
  display: flex;
}

/* INFORMATIONS PC*/

.information-container {
  display: flex;
  align-items: center;
}

.info-circle-icon {
  margin-right: 1%;
  color: #0065fc;
  border: 2px solid #f2f2f2;
  border-radius: 12px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.information-text {
  font-size: 15px;
}

/* AVAILABLE ACCOMMODATION */

.full-accommodation {
  margin-top: 3%;
  display: flex;
}

.accommodation-marseille {
  padding-top: 33px;
  padding-left: 52px;
  background-color: #f2f2f2;
  margin-right: 50px;
  flex: 2;
  border-radius: 18px;
  height: 700px;
}

.title-accommodation {
  margin-bottom: 30px;
  font-size: 22px;
}

/* 1st SECTION Part A - ACCOMMODATION  */

.line-accommodation {
  display: flex;
}

.global-accommodation {
  max-width: 27%;
  border-radius: 19px;
  background-color: white;
  padding: 5px;
  box-shadow: 8px 6px 6px 0px #f2f2f2;
  margin-right: 45px;
  margin-bottom: 49px;
}

.img-global {
  overflow: hidden;
  width: 120px;
  width: 227px;
}

.img-accommodation {
  width: 227px;
  height: 116px;
  border-radius: 19px 19px 0 0;
  object-fit: cover;
}

.text-global-accommodation {
  padding-left: 4%;
  padding-top: 3%;
}

.text-accommodation {
  font-weight: bold;
}

.text-accommodation p {
  font-weight: normal;
  font-size: 15px;
  padding-top: 3%;
}

.icon-stars-accommodation {
  padding-top: 3%;
}

.full {
  color: #0065fc;
  font-size: 13px;
}

.empty {
  color: #f2f2f2;
  font-size: 13px;
}

.more-display {
  font-weight: bold;
  font-size: 17px;
}

/* 1st SECTION Part B - MOST POPULAR  */

.most-popular-marseille {
  padding-top: 2%;
  padding-left: 3%;
  border-radius: 18px;
  background-color: #f2f2f2;
  flex: 1;
  height: 700px;
}

.most-popular-title {
  display: flex;
  justify-content: space-between;
}

.chart-icon {
  font-size: 29px;
  padding-right: 13%;
}

.global-mostpopular {
  display: flex;
  margin-bottom: 7%;
  background-color: white;
  border-radius: 19px 19px;
  width: 87%;
  padding: 1%;
}

.img-mostpopular {
  width: 29%;
  height: 139px;
  border-radius: 19px 0 0 19px;
  object-fit: cover;
}

.img-mostpopular-toutbleu {
  width: 75%;
  height: 139px;
  border-radius: 19px 0 0 19px;
  object-fit: cover;
}

.text-popular p {
  font-weight: normal;
  font-size: 15px;
  padding-top: 6%;
}

.text-global-mostpopular {
  width: 100%;
  margin-left: 5%;
  margin-top: 3%;
  margin-right: 27%;
}

.text-popular {
  font-weight: bold;
}

.icon-stars-mostpopular {
  padding-top: 19%;
}

@media only screen and (min-width: 992px) {
  /* Nav responsive pc */

  .lien-nav:hover {
    color: #0065fc;
    border-top: 2.5px solid #0065fc;
    padding-top: 22.5px;
  }
}

/* Tablet responsive  */

@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* Mobile responsive  */

@media only screen and (max-width: 768px) {
  /* General Content mobile*/

  body {
    width: 100%;
  }

  /* Header Content mobile */

  .header-section {
    flex-direction: column;
  }

  /* Logo Booki mobile */

  .logo-booki {
    text-align: center;
  }

  .logo-booki img {
    margin-left: 36px;
  }

  /* Nav mobile */

  .nav-section {
    width: 100%;
  }

  .ul-part {
    width: 100%;
    text-align: center;
    justify-content: space-between;
  }
  .ele-nav {
    width: 50%;
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 2%;
  }
  .ele-nav:hover {
    color: #0065fc;
    border-bottom: 2px solid #0065fc;
    padding-bottom: 2%;
  }

  .lien-nav {
    width: 50%;
  }

  .lien-nav:hover {
    border-top: none;
  }

  /* Title Container mobile */

  .title-container {
    margin: 19px;
  }

  h3 {
    font-size: 1.4em;
  }

  /* Search Container mobile */

  .search-container {
    margin-left: 19px;
  }

  .imput-container {
    width: 247px;
  }

  .search-place {
    font-size: 15px;
  }

  .search {
    position: absolute;
    font-size: 0px;
    width: 40px;
    height: 39px;
    z-index: 2;
    right: 33px;
    border-radius: 9px 9px 9px 9px;
  }
  .search::before {
    font-family: "Font Awesome\ 5 Free";
    content: "\f002";
    color: #f2f2f2;
    font-size: 14px;
  }

  /* FILTERS mobile */

  .filters-general {
    display: block;
    margin-left: 19px;
    margin-top: 30px;
  }

  .filters-container {
    flex-wrap: wrap;
    margin-top: 19px;
    width: auto;
  }

  .filter-icon-container {
    margin-right: 9%;
    margin-bottom: 5%;
  }

  /* INFORMATIONS mobile */

  .information-container {
    margin-left: 19px;
    width: 85%;
  }
  .info-circle-icon {
    margin-right: 2%;
    width: 29px;
    font-size: 12px;
  }

  .information-text {
    padding-top: 6%;
  }

  .full-accommodation {
    flex-direction: column;
  }
}
