@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* General Content */

body {
  font-family: "Raleway", sans-serif;
  width: 92%;
  margin: auto;
}

/* Header Content */

.header-section {
  display: flex;
  justify-content: space-between;
}

/* Logo Booki */

.logo-booki img {
  width: 105px;
  margin-top: 40px;
}

/* Nav */

.nav-section {
  margin-top: 25px;
  display: flex;
}

.ul-part {
  list-style-type: none;
  display: flex;
}

.lien-nav {
  text-decoration: none;
  color: inherit;
}

.ele-nav {
  padding-left: 40px;
  padding-right: 40px;
}

.lien-nav:hover {
  color: #0065fc;
  border-top: 2.5px solid #0065fc;
  padding-top: 22.5px;
}

/* Tablet responsive  */

@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* Mobile responsive  */

@media only screen and (max-width: 768px) {
  /* General Content */

  body {
    width: 100%;
  }

  /* Header Content mobile */

  .header-section {
    flex-direction: column;
  }

  /* Logo Booki mobile */

  .logo-booki {
    display: flex;
    justify-content: center;
  }

  .logo-booki img {
    margin-left: 36px;
  }

  /* Nav mobile*/

  .ul-part {
    width: 100%;
    text-align: center;
  }
  .ele-nav {
    width: 50%;
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 2%;
  }
  .ele-nav:hover {
    color: #0065fc;
    border-bottom: 2px solid #0065fc;
    padding-bottom: 2%;
  }

  .lien-nav {
    width: 50%;
    padding: unset;
  }

  .lien-nav:hover {
    border-top: none;
  }
}
