@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* General Content PC */

body {
  font-family: "Raleway", sans-serif;
}

.body-section {
  max-width: 100rem;
  margin: 0 auto;
}

/* Header Content PC */

.header-section {
  display: flex;
  justify-content: space-between;
}

/* Logo Booki PC */

.logo-booki img {
  width: 105px;
  margin-top: 40px;
  margin-left: 10px;
}

/* Nav PC */

.nav-section {
  margin-top: 25px;
  width: 25%;
}

.ul-part {
  list-style-type: none;
  display: flex;
  text-align: center;
  width: 100%;
}

.lien-nav {
  text-decoration: none;
  color: inherit;
}

.ele-nav {
  width: 50%;
}

/* Title Container PC */

.title-container h3 {
  margin-top: 32px;
  margin-bottom: 8px;
}

.title-container p {
  margin-bottom: 15px;
}

/* Search Container PC */

.search-container {
  display: flex;
  height: 39px;
}

.icon-container {
  border-radius: 9px 0 0 9px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

.fa-map-marker-alt {
  font-size: 14px;
}

.imput-container {
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  display: flex;
}

.search-place {
  border: 0;
  margin-left: 10px;
  font-weight: bold;
}

input:focus {
  outline: none;
}

.search {
  border-radius: 0 9px 9px 0;
  width: 120px;
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
  background-color: #0065fc;
  border-style: unset;
}

/* FILTERS PC */

.filters-general {
  display: flex;
  align-items: center;
  margin: 1.5% 0;
}

.filtres {
  margin-right: 3%;
  font-weight: bold;
}

.filters-container {
  display: flex;
  width: 75%;
}

.filter-icon-container {
  display: flex;
  margin-right: 2%;
}

.icon-text-container {
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  border-radius: 25px;
}

.icon-text-container:hover {
  background-color: black;
  color: white;
}

.filter-icon-link {
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  background-color: #f2f2f2;
  border-radius: 18px;
  color: #0065fc;
}

.filter-text {
  font-weight: bold;
  font-size: 15px;
  display: flex;
  align-items: center;
  height: 35px;
  padding: 0 20px 0 9px;
}

.icon-text-container {
  display: flex;
}

/* INFORMATIONS PC*/

.information-container {
  display: flex;
  align-items: center;
}

.info-circle-icon {
  margin-right: 1%;
  color: #0065fc;
  border: 2px solid #f2f2f2;
  border-radius: 12px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.information-text {
  font-size: 15px;
}

/* AVAILABLE ACCOMMODATION */

.full-accommodation {
  margin-top: 3%;
  display: flex;
}

/* 1st SECTION Part A - ACCOMMODATION  */

.accommodation-marseille {
  padding-top: 2%;
  padding-left: 3%;
  background-color: #f2f2f2;
  margin-right: 50px;
  flex: 2;
  border-radius: 18px;
}

.title-accommodation {
  margin-bottom: 29px;
  font-size: 22px;
}

.line-accommodation {
  display: flex;
}

.global-accommodation {
  width: 27%;
  border-radius: 19px;
  background-color: white;
  padding: 0.5%;
  box-shadow: 8px 6px 6px 0px #f2f2f2;
  margin-right: 5%;
  margin-bottom: 4%;
}

.img-accommodation {
  width: 100%;
  height: 112px;
  border-radius: 19px 19px 0 0;
  object-fit: cover;
}

.text-global-accommodation {
  padding-left: 4%;
  padding-top: 3%;
}

.text-accommodation {
  font-weight: bold;
}

.text-accommodation p {
  font-weight: normal;
  font-size: 15px;
  padding-top: 3%;
}

.icon-stars-accommodation {
  padding-top: 3%;
}

.icon-stars-accommodation i {
  margin-right: -2px;
  display: inline-block;
}

.full {
  color: #0065fc;
  font-size: 13px;
}

.empty {
  color: #f2f2f2;
  font-size: 13px;
}

.more-display {
  font-weight: bold;
  font-size: 17px;
}

/* 1st SECTION Part B - MOST POPULAR  */

.most-popular-marseille {
  padding-top: 2%;
  padding-left: 3%;
  border-radius: 18px;
  background-color: #f2f2f2;
  flex: 1;
}

.most-popular-title {
  display: flex;
  justify-content: space-between;
}

.chart-icon {
  font-size: 29px;
  padding-right: 13%;
}

.global-mostpopular {
  margin-bottom: 7%;
  background-color: white;
  border-radius: 19px 19px;
  width: 87%;
  padding: 1%;
  box-shadow: 8px 6px 6px 0px #f2f2f2;
}

.most-popular-link {
  display: flex;
}

.tout-bleu-global {
  max-width: 300px;
  width: 300px;
  border-radius: 19px 0 0 19px;
  height: 133px;
  max-height: 133px;
}

.text-popular p {
  font-weight: normal;
  font-size: 15px;
  padding-top: 6%;
}

.text-global-mostpopular {
  width: 100%;
  margin-left: 5%;
  margin-top: 3%;
  margin-right: 27%;
}

.text-popular {
  font-weight: bold;
}

.icon-stars-mostpopular {
  padding-top: 17%;
}

.icon-stars-mostpopular i {
  margin-right: -2px;
  display: inline-block;
}

/* 2nd SECTION  - ACTIVITY - GENERAL */

.title-activity {
  font-size: 22px;
  margin-top: 3%;
  margin-bottom: 29px;
  display: flex;
}

.line-activity {
  display: flex;
  justify-content: space-between;
}

.text-activity {
  margin-left: 19px;
  font-weight: bold;
  margin-top: 9px;
}

.both-last-img-global {
  flex-direction: column;
  width: 22%;
}

/* 2nd SECTION Part A - ACTIVITY */

.global-vieux-port {
  border-radius: 19px;
  background-color: white;
  width: 22%;
  height: 427px;
  box-shadow: 0px 6px 5px 4px #f2f2f2;
}

.img-vieux-port {
  width: 100%;
  border-radius: 19px 19px 0 0;
  object-fit: cover;
  height: 384px;
  object-position: 32% 42%;
}

.global-fort-pomegues {
  background-color: white;
  border-radius: 19px;
  margin-bottom: 31px;
  height: 228px;
  box-shadow: 0px 6px 5px 4px #f2f2f2;
}

.img-fort-pomegues {
  width: 100%;
  border-radius: 19px 19px 0 0;
  object-fit: cover;
  height: 186px;
  object-position: 50% 45%;
}

.global-frioul {
  background-color: white;
  border-radius: 19px;
  height: 168px;
  box-shadow: 0px 6px 5px 4px #f2f2f2;
}

.img-frioul {
  width: 100%;
  border-radius: 19px 19px 0 0;
  object-fit: cover;
  height: 125px;
  object-position: 50% 10%;
}

/* 2nd SECTION Part B - ACTIVITY */

.global-notre-dame {
  background-color: white;
  border-radius: 19px;
  margin-bottom: 31px;
  height: 186px;
  box-shadow: 0px 6px 5px 4px #f2f2f2;
}

.img-notre-dame {
  width: 100%;
  border-radius: 19px 19px 0 0;
  object-fit: cover;
  height: 144px;
  object-position: 50% 12%;
}

.global-longchamp {
  background-color: white;
  border-radius: 19px;
  height: 210px;
  box-shadow: 0px 6px 5px 4px #f2f2f2;
}

.img-longchamp {
  width: 100%;
  border-radius: 19px 19px 0 0;
  object-fit: cover;
  height: 168px;
  object-position: 50% 19%;
}

/* Footer */

@media only screen and (min-width: 992px) {
  /* Nav responsive pc */

  .lien-nav:hover {
    color: #0065fc;
    border-top: 2.5px solid #0065fc;
    padding-top: 22.5px;
  }
}

/* Tablet responsive  */

@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* Mobile responsive  */

@media only screen and (max-width: 768px) {
  /* General Content mobile*/

  body {
    width: 100%;
  }

  /* Header Content mobile */

  .header-section {
    flex-direction: column;
  }

  /* Logo Booki mobile */

  .logo-booki {
    text-align: center;
  }

  .logo-booki img {
    margin-left: 36px;
  }

  /* Nav mobile */

  .nav-section {
    width: 100%;
  }

  .ele-nav {
    width: 50%;
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 2%;
  }
  .ele-nav:hover {
    color: #0065fc;
    border-bottom: 2px solid #0065fc;
    padding-bottom: 2%;
  }

  .lien-nav {
    width: 50%;
  }

  .lien-nav:hover {
    border-top: none;
  }

  /* Title Container mobile */

  .title-container {
    margin: 19px;
  }

  h3 {
    font-size: 1.4em;
  }

  /* Search Container mobile */

  .search-container {
    margin-left: 19px;
  }

  .imput-container {
    width: 247px;
  }

  .search-place {
    font-size: 15px;
  }

  .search {
    position: absolute;
    font-size: 0px;
    width: 40px;
    height: 39px;
    z-index: 2;
    right: 33px;
    border-radius: 9px 9px 9px 9px;
  }
  .search::before {
    font-family: "Font Awesome\ 5 Free";
    content: "\f002";
    color: #f2f2f2;
    font-size: 14px;
  }

  /* FILTERS mobile */

  .filters-general {
    display: block;
    margin-left: 19px;
    margin-top: 30px;
  }

  .filters-container {
    flex-wrap: wrap;
    margin-top: 19px;
    width: auto;
  }

  .filter-icon-container {
    margin-right: 9%;
    margin-bottom: 5%;
  }

  /* INFORMATIONS mobile */

  .information-container {
    margin-left: 19px;
    width: 85%;
  }
  .info-circle-icon {
    margin-right: 2%;
    width: 29px;
    font-size: 12px;
  }

  .information-text {
    padding-top: 6%;
    padding-bottom: 8%;
  }

  .full-accommodation {
    flex-direction: column;
  }

  /* AVAILABLE ACCOMMODATION Mobile */

  /* 1st SECTION Part A - ACCOMMODATION Mobile  */

  .accommodation-marseille {
    order: 2;
    background-color: unset;
  }

  .title-accommodation {
    margin-top: 31px;
  }

  .global-accommodation {
    width: 112%;
    margin-bottom: 7%;
  }

  .icon-stars-accommodation {
    padding-top: 2%;
    padding-bottom: 3%;
  }

  .text-accommodation p {
    padding-top: 2%;
  }

  .line-accommodation {
    flex-direction: column;
  }

  /* 1st SECTION Part B - MOST POPULAR Mobile  */

  .most-popular-marseille {
    order: 1;
    border-radius: 0px;
  }

  .chart-icon {
    padding-right: 3%;
    margin-top: 31px;
  }

  .global-mostpopular {
    width: 97%;
  }

  .text-global-mostpopular {
    margin-right: 14%;
  }

  .img-mostpopular {
    width: 37%;
    height: 134px;
  }

  .img-mostpopular-toutbleu {
    width: 84%;
    height: 134px;
  }

  .icon-stars-mostpopular {
    padding-top: 24%;
  }

  .more-display {
    margin-top: 1%;
  }

  /* 2nd SECTION  - ACTIVITY - GENERAL - Mobile */

  .title-activity {
    margin-top: 9%;
    padding-left: 3%;
  }

  .both-last-img-global {
    width: unset;
  }

  /* 2nd SECTION Part A - ACTIVITY - Mobile */

  .line-activity {
    flex-direction: column;
    padding-left: 3%;
  }

  .global-vieux-port {
    width: 97%;
    height: 188px;
    margin-bottom: 31px;
  }

  .img-vieux-port {
    height: 144px;
    object-position: 30% 17%;
  }

  .global-fort-pomegues {
    width: 97%;
    height: 188px;
  }

  .img-fort-pomegues {
    height: 144px;
  }

  .global-frioul {
    width: 97%;
    height: 188px;
    margin-bottom: 31px;
  }

  .img-frioul {
    height: 144px;
  }

  /* 2nd SECTION Part B - ACTIVITY - Mobile */

  .global-notre-dame {
    width: 97%;
    height: 188px;
  }

  .img-notre-dame {
    height: 144px;
  }

  .global-longchamp {
    width: 97%;
    height: 188px;
  }

  .img-longchamp {
    height: 144px;
  }
}
